<h1>This app was made by Artur Jaakman for the AWAD individual assessment.</h1>
<p>The purpose of the app is to display open source data about meteorite
landing locations and provide a platform for users to sell and buy meteorite fragments
that they found.</p>
<p>The store is made as an exercise and no actual sales are done thourgh the site.</p>
