<h1>Locations of recorded meteorite landings from 2010-2014.</h1>

Search meteorite by name (Case Sensitive): <input type="text" id="meteorite">
Year: <%= select_tag(:year, options_for_select(@uniqueYears)) %>

<script async defer
    src=<%= ENV['GOOGLEMAPS_KEY'] %>>
</script>

<div class="row">
   <div class="col-xs-12">
     <div id="map-canvas"> </div>
   </div>
</div>

<div id="floating-panel">
      <button id = "toggleMarker" class = "btn btn-default">Toggle Markers</button>
      <button id = "toggleHeatmap" class = "btn btn-info">Toggle Heatmap</button>
      <button id = "changeOpacity" class = "btn btn-warning">Change Opacity</button>
</div>

<div class="row">
   <div class="col-xs-12">
  <div id="barChartContainer" style="width:100%; height: 700px; margin: 0 auto"></div>
  </div>
</div>

</div>

<script type="text/javascript">
  initBarChart(<%=raw @meteoritesData %>)
</script>
